div#about
	div.white-panel
		div.responsive-img#hero
			h2 All your tasks as text files on your Dropbox. Simple.
			if !authenticated
				form.inline-element(action="/auth/dropbox")
					button.btn(type="submit", title="Login with your Dropbox account") Login with
						img(src="/images/dropbox-logo.png", alt="Dropbox")
			else
				form.inline-element(action="/")
					button.btn(type="submit", title="Dive into your tasks") Dive in!

	div.white-panel
		div.responsive-img#img-screenshot
		div.section
			div.col.col-1-3
				h3 Plain text.
				p Your data is yours: no cryptic and proprietary file formats but straightforward text files easily readable thanks to 
					a(href="http://daringfireball.net/projects/markdown/") Markdown
					| .
			div.col.col-1-3
				h3 Every device.
				p wolkentask feels as happy on your desktop as it does on your smartphone or tablet. A modern browser makes the experience even more pleasant.
			div.col.col-1-3
				h3 Backed up.
				p Thanks to the synchronization with your Dropbox account, your to-do lists are not only stored in the cloud but also on every computer your Dropbox is linked to.
	div.white-panel
		div.responsive-img#img-text-file
		div.section
			div.col.col-1-3
				h3 Everywhere.
				p Your to-do lists are wherever you are: everything is automatically synchronized to your Dropbox account. Any changes will immediately be visible on all your connected devices.
			div.col.col-1-3
				h3 Simple &amp; fast.
				p To-dos and nothing else: wolkentask delivers a distraction free to-do experience. No superficial buttons and features. Ticking off to-dos was never faster.
			div.col.col-1-3
				h3 Import &amp; export.
				p Drop any text file into your Dropbox and wolkentask will automatically interpret it as a to-do list whenever you open it. Exporting your data? Just copy it from your Dropbox.
	div.white-panel
		div.responsive-img#img-dropbox
		div.section
			div.col.col-1-3
			div.col.col-1-3
				h3 No account required.
				p Your Dropbox account is sufficient to log into wolkentask. All logins are directly handled by Dropbox so that your password is never transmitted to wolkentask. Secure and simple.
			div.col.col-1-3