h1
	a(href="/")
		i.fa.fa-cloud
		| &nbsp;wolkentask
div.button-bar#option-buttons
	if authenticated
		form.inline-element(action="/logout")
			button.btn(type="submit", title="Logout")
				i.fa.fa-fw.fa-power-off