span
	div.wt-todo-group.ng-show(ng-hide="displayEdit")
		div.wt-todo-checkbox
			input(type="checkbox", ng-model="wtDone", ng-change="update()")
		div.wt-todo-text
			p(ng-click="showEdit()") {{wtData}}
		div.wt-btn-group
			button.btn(type="button", ng-click="showEdit()", title="Edit")
				i.fa.fa-fw.fa-pencil
			button.btn(type="button", ng-click="wtDelete()", title="Delete")
				i.fa.fa-fw.fa-trash-o

	div.wt-todo-group.ng-hide(ng-show="displayEdit")
		form(role="form", ng-submit="save()")
			div.wt-todo-checkbox
				input(type="checkbox", ng-model="wtDone", ng-change="update()")
			div.wt-todo-text
				input(type="text", ng-model="wtData", ng-blur="cancel()")
			div.wt-btn-group
				button.btn(type="submit", title="Save")
					i.fa.fa-fw.fa-save
				button.btn(type="button", ng-click="cancel()", title="Cancel")
					i.fa.fa-fw.fa-undo
