div.wt-todo-group
	div.wt-todo-checkbox
		input(type="checkbox", ng-model="wtDone", ng-change="update()")
	div.wt-todo-text
		p {{wtData}}
	div.wt-todo-input
		form(role="form", ng-submit="save()")
			input(type="text", ng-model="editData", ng-focus="showEdit()", ng-blur="cancel()", ng-mouseup="mouseUp()")
	div.wt-btn-group
		button.btn(type="button", ng-click="wtDelete()", title="Delete")
			i.fa.fa-times-circle