extends layout

block head

block content
	div#wrapper
		header#top
			include includes/header

		div#middle-section
			include includes/about
		footer#end
			include includes/footer

block addon-scripts
