extends layout

block head

block content
	div#wrapper
		header#top
			include includes/header

		div.section#middle-section
			div.middle-content
				h2 Contact us
				p On Twitter: 
					a(href="https://twitter.com/wolkentask") @wolkentask
				p Via email: 
					a(href="mailto:help@wolkentask.com") help@wolkentask.com
		footer#end
			include includes/footer

block addon-scripts
