extends layout

block head

block content
	div#wrapper
		header#top
			include includes/header

		div#middle-section
			div.centered-container
				div.white-panel.stacked-panel.col.col-full
					h2 Contact us
					p On Twitter: 
						a(href="https://twitter.com/wolkentask") @wolkentask
					p Via email: 
						a(href="mailto:help@wolkentask.com") help@wolkentask.com
					p Florian Heinemann
						br
						| Schilfgrund 15e
						br
						| 22848 Norderstedt
						br
						| Germany
		footer#end
			include includes/footer

block addon-scripts
