extends layout

block head

block content
	div#wrapper
		header#top
			h1
				a(href="/")
					i.fa.fa-cloud
					| &nbsp;wolkentask
			div.button-bar#option-buttons
				if authenticated
					form.inline-element(action="/logout")
						button.btn(type="submit", title="Logout")
							i.fa.fa-power-off

		div.section#middle-section
			div.middle-content
				h3 Contact us
				p On Twitter: 
					a(href="https://twitter.com/wolkentask") @wolkentask
				p Via email: 
					a(href="mailto:help@wolkentask.com") help@wolkentask.com
		footer#end
			div
				a(href="/about") About
				|  // 
				a(href="/contact") Contact
				|  // 
				a(href="/legal") Legal

block addon-scripts
