extends layout

block head
	script(type='text/javascript', src='/javascripts/addons/path/Path.js')
	script(type='text/javascript', src='/javascripts/controllers/WolkentaskController.js')

block content

	div(ng-controller="WolkentaskController", ng-init="initialize('#{providerId}', '#{providerToken}', '#{dropboxAppKey}')")
		
		header#top
			h1 wolkentask
			ul.list-unstyled#option-buttons
				li
					a(href="/logout")
						i.fa.fa-fw.fa-sign-out
							span.sr-only Logout

		div.section
			div.col.span_1_of_3#file-pane
				h3 Favorites
				ul.list-unstyled.wt-file-list
					li.wt-fav(ng-repeat="favorite in favorites" ng-cloak)
						file-listing(wt-name="favorite.name", wt-type="file", wt-open="getFile(favorite.path)")
					li.wt-no-fav No favorites yet

				h3 File browser
				ul.list-unstyled.wt-file-list
					li
						folder-path.wt-file-no-file(wt-path="currentFolder")
					li(ng-hide="isInRootFolder()")
						file-listing(wt-name="backString", wt-type="back", wt-open="requestFolderContent(parentFolder)")
					li(ng-repeat="fileOrFolder in filesAndFolders | filter: {isFolder : true } | orderBy:'name'")
						file-listing(wt-name="fileOrFolder.name", wt-type="folder", wt-open="requestFolderContent(fileOrFolder.path)")
					li(ng-repeat="fileOrFolder in filesAndFolders | filter: {isFolder : false } | orderBy:'name'")
						file-listing(wt-name="fileOrFolder.name", wt-type="file", wt-open="getFile(fileOrFolder.path)")
					li
						new-file(wt-create="createNewFile(path)", wt-path="currentFolder")

			div.col.span_2_of_3#content-pane(ng-show="currentFileName", ng-cloak)

				div#file-top-nav
					div.wt-file-top-name
						h2 {{currentFileName}}
					div.wt-file-button-bar
						favorite-star(wt-path="currentFilePath")
						sync-button(wt-status="saveStatus", wt-save="saveFile()")

				h3 Todo
				ul.list-unstyled
					li.wt-todo-item
						div.wt-todo-group
							form(role="form", ng-submit="addNewTodo()")
								div.wt-todo-text
									label.sr-only(for="formAddTodo") New Todo
									input#formAddTodo(type="text", placeholder="New Todo", ng-model="newTodo.rawData")
								div.wt-btn-group
									button.btn(type="submit", title="Add")
										i.fa.fa-fw.fa-save
					li.wt-todo-item(ng-repeat="todo in currentFileData | filter: { display: true, done: false }")
						single-todo(wt-data="todo.displayData", wt-done="todo.done", wt-save="updateTodo(todo)", wt-delete="deleteTodo(todo)", wt-update="updateTodo(todo)")
				h3 Done
				ul.list-unstyled
					li.wt-todo-item(ng-repeat="todo in currentFileData | filter: { display: true, done: true }")
						single-todo(wt-data="todo.displayData", wt-done="todo.done", wt-save="updateTodo(todo)", wt-delete="deleteTodo(todo)", wt-update="updateTodo(todo)")
		footer#end
			div Florian Heinemann