doctype html
html(ng-app='wolkentask')
	head
		title wolkentask - Simple, plain text to-do editing directly on your Dropbox.
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/javascripts/bower_components/alertify/themes/alertify.core.css')
		link(rel='stylesheet', href='/javascripts/bower_components/alertify/themes/alertify.default.css')
		link(rel='icon', href='/images/wt-logo-96.png')
		meta(charset='utf-8')
		meta(name="Description", content="wolkentask is an online app that allows simple, plain text to-do editing directly on your Dropbox")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		block head
		script(type="text/javascript", src="//use.typekit.net/nfa3sur.js")
		script(type="text/javascript")
			| try{Typekit.load();}catch(e){}
		include includes/ga
	body
		block content

		script(type='application/javascript', src='/javascripts/bower_components/alertify/alertify.min.js')
		block addon-scripts