extends layout

block head

block content
	div#wrapper
		header#top
			include includes/header

		div.section#middle-section
			div.middle-content
				h3 Login to wolkentask
				p Please login using your dropbox account: 
					a(href="/auth/dropbox") Login!
		footer#end
			include includes/footer

block addon-scripts