extends layout

block head

block content
	div#wrapper
		header#top
			include includes/header

		div#middle-section
			div.white-panel
				div#hero
					h2 Simple, plain text to-do editing directly on your Dropbox.
					form.inline-element(action="/auth/dropbox")
						button.btn(type="submit", title="Logout") Login with
							img(src="/images/dropbox-logo.png", alt="Dropbox")

			include includes/about

		footer#end
			include includes/footer

block addon-scripts