[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.todo-group {
	box-sizing: border-box;
	display: table;
	line-height: 1;
}

.todo-group label {
	margin: 0px;
	font-weight: normal;
	width: 100%;
}

.todo-cell {
	text-align: center;
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
	display: table-cell;
}

.todo-cell input[type="checkbox"] {
	margin-top: 0px;
}

.todo-checkbox {
	padding: 6px 12px;
	height: 34px;
	border-radius: 4px;
	border: 1px solid #ccc;
}

.todo-text {
	display: table-cell;
	width: 100%; 
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1;
	color: #555;
	vertical-align: middle;
}

.todo-text > .btn-group {
	padding-left: 10px;
}

.todo-actions {
	width: 1%;
	min-width: 120px;
	white-space: nowrap;
	height: 34px;
	vertical-align: middle;
	display: table-cell;
}

.todo-actions .btn-group {
	display: none;
}

.todo-group:hover .todo-actions .btn-group {
	display: inline;
}