[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* Generic styles */

html {
	-webkit-text-size-adjust:none;
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

header, footer {
	display: block;
}

a {
	color:#428bca;
	text-decoration:none
}

a:hover, a:focus {
	color:#2a6496;
	text-decoration:underline
}

a:focus {
	outline:thin dotted #333;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px
}

button, input, select[multiple], textarea {
	background-image: none;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.list-unstyled {
	padding-left: 0;
	list-style: none;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
}

.button-bar .btn:last-child {
	margin-right: 0px;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 2px 2px 0px 2px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius: 4px;
    color: #31353D;
    background-color: #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.btn:focus {
    outline: thin dotted #31353D;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.btn:hover, .btn:focus {
    color: #31353D;
    background-color: #EEEFF7;
    border-color: #adadad
    text-decoration: none
}

.btn:active,.btn.active {
    color: #31353D;
    background-color: #EEEFF7;
    border-color: #adadad
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.125)
}

.btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active {
    background-color: #fff;
    border-color: #ccc
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
    color: #fff;
    background-color: #ed9c28;
    border-color: #d58512
}

.btn-warning:active {
    background-image: none
}

.btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled]:active {
    background-color: #f0ad4e;
    border-color: #eea236
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
    color: #fff;
    background-color: #47a447;
    border-color: #398439
}

.btn-success:active {
    background-image: none
}


.btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled]:active {
	background-color: #5cb85c;
    border-color: #4cae4c
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da
}

.btn-info:hover, .btn-info:focus, .btn-info:active {
    color: #fff;
    background-color: #39b3d7;
    border-color: #269abc
}

.btn-info:active {
    background-image: none
}


.btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled]:active {
    background-color: #5bc0de;
    border-color: #46b8da
}

.has-error {
	color: #E75849;
}

.form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	margin: 0px;
	line-height: 1.2;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

/* Grid layout */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.col {
	display: block;
	box-sizing: border-box;
	overflow: hidden;
}

.content-column {
	margin-left: 280px;
}

.nav-column {
	float: left;
	width: 280px;
}

@media(max-width: 767px) {
	.content-column {
		width: 100%; 
		margin-left: 0px;
		float: none;
	}

	.nav-column {
		width: 100%;
	}
}

/* Specific styles */

body {
	color: #1C1D21;
	background-color: #EEEFF7;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.428571429;
}

@media(max-width: 768px) {
	body {
		font-size: 20px;
	}
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 24px;
}

@media(max-width: 768px) {
	h2 {
		font-size: 30px;
	}

	h3 {
		font-size: 28px;
	}
}

h1, h2, h3 {
	font-weight: 100;
	margin-top: 20px;
	margin-bottom: 10px;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 20px;
}

button {
	font-size: 15px;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#top {
	background: #1C1D21;
	color: #EEEFF7;
	height: 50px;
}

#top h1 {
	margin: 0px 0px 0px 5px;
	float: left;
}

#top h1 a {
	text-decoration: none;
	color: #EEEFF7;
}

#middle-section {
	padding-bottom: 50px;
	overflow: auto;
}

#end {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: #1C1D21;
	color: #EEEFF7;
	height: 40px;
	line-height: 40px;
	padding: 5px;
	text-align: center;
}

#option-buttons {
	display: inline;
	position: absolute;
	text-align: right;
	right: 5px;
	top: 3px;
	width: 100px;
}

#option-buttons button {
	height: 35px;
	width: 35px;
}

@media(min-width:768px) {
	#toggleButton {
		display: none;
	}
}

#file-pane {
	padding: 5px;
}

@media(max-width: 767px) {
	#file-pane.hideFilePane {
		height: 0px;
		overflow: hidden;
		padding: 0px;
	}
}

#content-pane {
	padding: 5px;
}

#content-pane h2, #content-pane h3 {
	padding: 0px 5px;
}

.wt-no-content h2 {
	font-style: italic;
}

#content-pane .wt-no-content p {
	padding: 0px 5px;
}

.wt-no-fav, .wt-no-todo-item {
	font-style: italic;
	color: #A3A3A3;
}

.wt-file-list li a, 
.wt-file-list li .wt-file-no-file,
.wt-file-list .wt-no-fav {
	display: block;
	padding: 3px 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.wt-fav + .wt-no-fav {
	display: none;
}

@media(min-width:768px) {
	.wt-file-list li a:hover {
		background-color: #5FC6F4;
		text-decoration: none;
	}
}

#file-top-nav {
	position: relative;
}

#file-top-nav .wt-file-top-name {
	margin-right: 210px;
}

#file-top-nav .wt-file-top-name h2 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#wt-file-button-bar {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 210px;
	text-align: right;
}

@media(max-width: 768px) {
	#file-top-nav .wt-file-top-name {
		margin-right: 90px;
	}

	#wt-file-button-bar {
		width: 90px;
	}
}

.wt-todo-items li {
	box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.75);
	background-color: white;
	margin-bottom: 5px;
}

.wt-todo-items li:first-child {
	background-color: #5FC6F4;
}

li + li + .wt-no-todo-item {
	display: none;
}

.wt-todo-group {
	min-height: 34px;
	position: relative;
}

.wt-todo-checkbox {
	position: absolute;
	left: 0px;
	top: 5px;
	width: 30px;	
	text-align: center;
}

@media(max-width: 768px) {
	.wt-todo-checkbox {
		top: 3px;
		width: 45px;
	}
}

.wt-todo-input {
	position: absolute;
	left: 30px;
	right: 45px;
	top: 0px;
	bottom: 0px;
}

@media(max-width: 768px) {
	.wt-todo-input {
		left: 45px;
	}
}

.wt-todo-input form, .wt-todo-input input[type="text"] {
	height: 100%;
	width: 100%;
}

.wt-todo-text {
	margin: 0px 45px 0px 30px;
}

@media(max-width: 768px) {
	.wt-todo-text {
		margin-left: 45px;
	}
}

.wt-todo-text p {
	margin: 0px;
	width: 100%;
	overflow: visible;
	white-space: normal;
	padding: 7px 0px 5px 0px;
}

@media(max-width: 768px) {
	.wt-todo-text p {
		padding-top: 4px;
	}
}

@media(min-width:768px) {
	.wt-todo-text p {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.wt-todo-group:hover .wt-todo-text p {
		overflow: visible;
		white-space: normal;
	}
}

input[type="text"] {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 15px;	
}

.wt-todo-input input[type="text"] {
	outline: 0;
	border: none;
	background-color: transparent;
	opacity: 1;
}

input::-webkit-input-placeholder { 
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #A3A3A3;
}

input:-moz-placeholder { 
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #A3A3A3;
}

input::-moz-placeholder { 
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #A3A3A3;
}

input:-ms-input-placeholder { 
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #A3A3A3;
}

@media(max-width: 768px) {
	input[type="text"] {
		font-size: 20px;	
	}

	input::-webkit-input-placeholder { 
		font-size: 20px;
	}

	input:-moz-placeholder { 
		font-size: 20px;
	}

	input::-moz-placeholder { 
		font-size: 20px;
	}

	input:-ms-input-placeholder { 
		font-size: 20px;
	}
}


.wt-btn-group {
	text-align: right;
	position: absolute;
	right: 5px;
	top: 2px;
	width: 40px;
}

.wt-btn-group button {
	width: 30px;
	height: 30px;
	padding: 0px;
	font-size: 16px;
	margin-right: 5px;
	font-size: 14px;
}

.wt-btn-group button:last-child {
	margin-right: 0px;
}

.hidden-inline-xs {
	display: inline!important;
}

.hidden-xs {
	display: block!important;
}

@media (max-width: 767px) {
	.hidden-inline-xs, .hidden-xs {
		display: none!important;
	}
}