[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* Generic styles */

body {
	color: #1C1D21;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	margin: 0;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 24px;
}

h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

header, footer {
	display: block;
}

a {
	color:#428bca;
	text-decoration:none
}

a:hover, a:focus {
	color:#2a6496;
	text-decoration:underline
}

a:focus {
	outline:thin dotted #333;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px
}

ul, ol {
	margin-top: 0;
	margin-bottom: 10px;
}

button, input, select[multiple], textarea {
	background-image: none;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.list-unstyled {
	padding-left: 0;
	list-style: none;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius: 4px;
    color: #31353D;
    background-color: #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.btn:focus {
    outline: thin dotted #31353D;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.btn:hover, .btn:focus {
    color: #31353D;
    background-color: #EEEFF7;
    border-color: #adadad
    text-decoration: none
}

.btn:active,.btn.active {
    color: #31353D;
    background-color: #EEEFF7;
    border-color: #adadad
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.125)
}

.btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active {
    background-color: #fff;
    border-color: #ccc
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
    color: #fff;
    background-color: #ed9c28;
    border-color: #d58512
}

.btn-warning:active {
    background-image: none
}

.btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled]:active {
    background-color: #f0ad4e;
    border-color: #eea236
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
    color: #fff;
    background-color: #47a447;
    border-color: #398439
}

.btn-success:active {
    background-image: none
}


.btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled]:active {
	background-color: #5cb85c;
    border-color: #4cae4c
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da
}

.btn-info:hover, .btn-info:focus, .btn-info:active {
    color: #fff;
    background-color: #39b3d7;
    border-color: #269abc
}

.btn-info:active {
    background-image: none
}


.btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled]:active {
    background-color: #5bc0de;
    border-color: #46b8da
}

.has-error {
	color: #E75849;
}

.form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	margin: 0px;
	line-height: 1.2;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

/* Generic grid layout */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.col {
	display: block;
	float:left;
	box-sizing: border-box;
}

.span_2_of_3 {
	width: 67%;
}

.span_1_of_3 {
	width: 33%;
}

@media(max-width: 767px) {
	.span_2_of_3 {
		width: 100%; 
	}

	.span_1_of_3 {
		width: 100%;
	}
}

/* Specific styles */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 100;
}

#top {
	background: #1C1D21;
	color: #EEEFF7;
	height: 50px;
}

#top h1 {
	margin: 0px 0px 0px 5px;
	float: left;
}

#end {
	background: #1C1D21;
	color: #EEEFF7;
	height: 50px;
	clear: both;
}

#option-buttons {
	display: inline;
	position: absolute;
	right: 20px;
	width: 50px;
}

#option-buttons li {
	display: block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	float: left;
	text-align: center;
	border-left: solid 1px #EEEFF7;
	box-sizing: border-box;
}

#option-buttons li:last-child {
	border-right: solid 1px #EEEFF7;
}

#option-buttons li a {
	color: #EEEFF7;
	display: block;
}

#option-buttons li:hover {
	background-color: #31353D;
}

#option-buttons li:hover a {
	color: #5FC6F4;
}

#file-pane {
	background-color: #31353D;
	border-right: #1C1D21 1px solid;
	padding: 5px;
	color: #EEEFF7;
}

#content-pane h2, #content-pane h3 {
	padding: 0px 5px;
}

.wt-no-fav {
	font-style: italic;
	color: #A3A3A3;
}

.wt-file-list li a, 
.wt-file-list li .wt-file-no-file,
.wt-file-list .wt-no-fav {
	display: block;
	padding: 3px 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.wt-fav + .wt-no-fav {
	display: none;
}

.wt-file-list li a:hover {
	background-color: #5FC6F4;
	text-decoration: none;
}

#file-top-nav {
	position: relative;
}

#file-top-nav .wt-file-top-name {
	margin-right: 190px;
}

#file-top-nav .wt-file-top-name h2 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#file-top-nav .wt-file-button-bar {
	position: absolute;
	right: 9px;
	top: 0px;
	width: 190px;
	text-align: right;
}

#newFileInput {
	width: 100%;
}

.wt-todo-item {
	border-bottom: solid 1px #EEEFF7;
}

.wt-todo-item:last-child {
	border-bottom: none;
}

.wt-todo-item:hover {
	background-color: #EEEFF7;
}

.wt-todo-group {
	min-height: 36px;
	position: relative;
}

.wt-todo-checkbox {
	position: absolute;
	left: 0px;
	top: 6px;
	width: 30px;	
	text-align: center;
}

.wt-todo-text {
	margin: 0px 84px 0px 30px;
}

.wt-todo-text p {
	margin: 0px;
	width: 100%;
	overflow: visible;
	white-space: normal;
	padding-top: 7px;
}

@media(min-width:768px) {
	.wt-todo-text p {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.wt-todo-group:hover .wt-todo-text p {
		overflow: visible;
		white-space: normal;
	}
}

.wt-todo-text input[type="text"] {
	width: 100%;
	outline: 0;
	border: none;
	margin-top: 6px;
	background-color: transparent;
}

.wt-todo-text input::-webkit-input-placeholder { 
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: italic;
	color: #A3A3A3;
}

.wt-todo-text input:-moz-placeholder { 
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: italic;
	color: #A3A3A3;
}

.wt-todo-text input::-moz-placeholder { 
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: italic;
	color: #A3A3A3;
}

.wt-todo-text input:-ms-input-placeholder { 
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: italic;
	color: #A3A3A3;
}

.wt-btn-group {
	text-align: right;
	position: absolute;
	right: 9px;
	top: 0px;
	width: 70px;
	padding-top: 3px;
}

.wt-btn-group button {
	width: 30px;
	height: 30px;
	padding: 0px;
	font-size: 16px;
	margin-right: 5px;
}

.wt-btn-group button:hover {
	background-color: #5FC6F4;
}

.wt-btn-group button:last-child {
	margin-right: 0px;
}

.hidden-inline-xs {
	display: inline!important;
}

.hidden-xs {
	display: block!important;
}

@media (max-width: 767px) {
	.hidden-inline-xs, .hidden-xs {
		display: none!important;
	}
}